<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blade in Java</title>
</head>
<body>
    <a href="/guest-book">Add</a>
    <div th:object="${request}">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="d,itr : ${data}" th:if="${data.size() > 0}">
                    <td th:text="${itr.index + 1}"></td>
                    <td th:text="${d.name}"></td>
                    <td th:text="${d.email}"></td>
                    <td></td>
                </tr>
                <tr th:if="${data.size() <= 0}">
                    <td colspan="4">
                        Data Kosong
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>